$HeaderColor: dodgerblue;
$PrimaryColor: #e8e8e8;
$fontColor: #333;
$hoverBackground: rgba(148, 148, 148, .2);
$activeBackground: rgba(148, 148, 148, .4);

@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins.ttf');
}

*, *::before, *::after{
    box-sizing: border-box;
}

h1, p {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Poppins, sans-serif;
}

.container {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 2fr;
    grid-template-columns: 1fr 4fr;

    .header {
        grid-column: 1/-1;
        background: $HeaderColor;
        display: flex;
        align-items: center;
        padding: 10px;
        .headerTitle {
            color: $PrimaryColor;
            font-weight: 700;
        }
    }

    .sidebar {
        grid-row: 2/-1;
        background: $PrimaryColor;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .projectLabel {
            margin: 0;
            font-size: 1.50rem;
            padding: 5px;
        }
        
    }

    .btn, .modalbtn {
        padding: 5px;
            margin: 0;
            font-size: 1.30rem;
            font-weight: 300;
            text-align: left;
            background: none;
            border: none;
            color: $fontColor;
            
            &:hover {
                cursor: pointer;
                background-color: $hoverBackground;
            }
    }
    .active {
        font-weight: 400;
        background: $activeBackground;
    }

    .addbtn {
        transition: .5s ease;
        position: fixed;
        background: $HeaderColor;
        bottom: 10px;
        right: 10px;
        border-radius: 100%;
        border: none;
        outline: none;
        padding: 5px;
        display: flex;
        align-items: center;
        img {
            width: 40px;
            filter: invert(100%) sepia(28%) saturate(447%) hue-rotate(152deg) brightness(113%) contrast(99%);
        }

        &:hover{
            cursor: pointer;
            transform: rotate(360deg);
        }
    }
    
    .content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, auto);
        padding: 20px 50px;
        h1 {
            font-size: 1.70rem;
            font-weight: 700;
        }
    }

    .modal {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .3);
        padding: 50px;
        .modalBox {
            display: grid;
            box-shadow: 0px 2px 10px $fontColor;
            background-color: #fefefe;
            width: 100%;
            height: 100%;
            max-width: 600px;
            max-height: 400px;
         
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 5fr;
            .modalHeader {
                grid-row: 1;
                grid-column: 1/-1;
                background: $HeaderColor;
                display: flex;
                align-items: center;
                padding: 10px;
                .modalTitle {
                    padding: 0;
                    margin: 0;
                    color: $PrimaryColor;
                    font-size: 1.5rem;
                }
            }
            .modalSidebar {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 10px;
                gap: 5px;
                grid-row: 2;
                background: $PrimaryColor;
            }
        }
    }
    .modaltaskform {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        input {
            padding: 5px;
            background: $PrimaryColor;
            border: 1px solid white;
            font-family: Poppins, sans-serif;
        }
        textarea {
            padding: 5px;
            background: $PrimaryColor;
            border: 1px solid white;
            height: 140px;
            resize: none;
        }

        label {
            display: flex;
            gap: 10px;
        }
        .duedate{
            padding: 2px;
            text-align: center;
            width: 150px;
        }
        
        .priorHolder {
            display: flex;
    
            .lowBox {
                padding: 0px 5px;
                background-color: greenyellow;
                .lowPrior {
                    display: none;
                    
                }
                .lowPrior:checked + .lowBox{
                    background-color: red;
                }
                
            }
            
            
            
        }
    }

    .show {
        display: flex;
    }
    
}


@media screen and (max-width: 800px) {
    .container {
        .sidebar {
            display: none;
        }
        .modal{
            padding: 10px;
            .modalContent{

                .modaltaskform {
                    padding: 2px;
                }
            }
        }
    }
}