$HeaderColor: dodgerblue;
$PrimaryColor: #e8e8e8;
$fontColor: #333;
$hoverBackground: rgba(148, 148, 148, .2);
$activeBackground: rgba(148, 148, 148, .4);

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins.ttf');
}
@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins-Bold.ttf');
}

*, *::before, *::after{
    box-sizing: border-box;
}

h1, p {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Poppins, sans-serif;
}

.container {
    transition: .5s ease;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 2fr;
    grid-template-columns: 1fr 4fr;

    .header {
        width: 100%;
        grid-column: 1/-1;
        background: $HeaderColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headerTitle {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            color: $PrimaryColor;
            font-family: PoppinsBold, sans-serif;
        }
        .toggle-menu {
            margin-right: 10px;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 45px;
            height: 30px;
            position: relative;
            .bar{
                width: 100%;
                background-color: $PrimaryColor;
                height: 5px;
                border-radius: 10px;
            }
        }
    }

    .logo {
        width: 40px;
    }

    .sidebar {
        grid-row: 2/-1;
        background: $PrimaryColor;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        .projectLabel {
            margin: 0;
            font-size: 1.50rem;
            padding: 5px;
            font-family: PoppinsBold;
        }
    }

    .sidebar.showMenu {
        display: flex;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        
        .btn {
            font-size: 1.20rem;
        }
        .projectLabel {
            font-size: 1.30rem;
            font-family: PoppinsBold, sans-serif;
            font-weight: 700;
        }
    }

    .change {
        .bar {
            bottom: 0;
            top: 0;
            margin: auto;
            position: absolute;
            
        }
        .hide {
            display: none;
        }
        .rotate {
            transition: .3s ease;
            transform: rotate(-45deg);
        }
        .rotate2 {
            transition: .3s ease;
            transform: rotate(45deg);
        }
    }

    .btn, .modalbtn {
        padding: 5px;
            margin: 0;
            font-size: 1.30rem;
            font-weight: 300;
            text-align: left;
            background: none;
            border: none;
            color: $fontColor;
            
            &:hover {
                cursor: pointer;
                background-color: $hoverBackground;
            }
    }
    .active {
        font-weight: 400;
        background: $activeBackground;
    }

    .addbtn {
        transition: .5s ease;
        position: fixed;
        background: $HeaderColor;
        bottom: 10px;
        right: 10px;
        border-radius: 100%;
        border: none;
        outline: none;
        padding: 5px;
        display: flex;
        align-items: center;
        img {
            width: 40px;
            filter: invert(100%) sepia(28%) saturate(447%) hue-rotate(152deg) brightness(113%) contrast(99%);
        }

        &:hover{
            cursor: pointer;
            transform: rotate(360deg);
        }
    }
    
    .content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: min-content auto;
        padding: 20px 50px;
        gap: 20px;
        .contentHeader {
            display: flex;
            justify-content: space-between;
            h1 {
                font-size: 1.50rem;
                font-family: PoppinsBold;
            }
            div {
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: flex-end;
        
                height: auto;
                .legend {
                    width: 10px;
                    height: 50%;
                  
                }
                .Low {
                    background-color: yellow;
                }
                .Mid {
                    background-color: orange;
                }
                .High {
                    background-color: red;
                }
            }

        }
        .TaskGrid {
            width: 100%;
            height: 100%;
            display: grid;
            gap: 10px;
            grid-template-columns: auto;
            grid-template-rows: repeat(auto-fill, 35px);
            div {
                font-family: Poppins, sans-serif;
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
                background: $PrimaryColor;
                border: 1px solid $HeaderColor;
                border-left: 8px inset dodgerblue;
                width: 100%;
                .holder {
                    margin-left: -5px;
                    gap: 5px;
                    input[type=checkbox] {
                        border-radius: 50%;
                    }
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .modal {
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .3);
        z-index: 99;
        .modalBox {
            display: grid;
            box-shadow: 0px 2px 10px $fontColor;
            background-color: #fefefe;
            width: 100%;
            height: 100%;
            max-width: 600px;
            max-height: 400px;
         
            grid-template-columns: 1fr 3fr;
            grid-template-rows: min-content 1fr;
            .modalHeader {
                grid-row: 1;
                grid-column: 1/-1;
                background: $HeaderColor;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                .modalTitle {
                    padding: 0;
                    margin: 0;
                    color: $PrimaryColor;
                    font-size: 1.5rem;
                }
                .modalClose {
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    border-radius: 100%;
                    padding: 0;
                    background: none;
                    transform: rotate(225deg);
                    img {
                        width: 40px;
                        filter: invert(100%) sepia(28%) saturate(447%) hue-rotate(152deg) brightness(113%) contrast(99%);
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .modalSidebar {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 10px;
                gap: 5px;
                grid-row: 2;
                background: $PrimaryColor;
            }
        }
    }

    .Form {
        height: 100%;
        padding: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        .taskTitle, .taskDescript {
            border: none;
            font-family: Poppins, sans-serif;
            padding: 5px;
            background-color: $PrimaryColor;
            font-size: 13px;
            &:focus {
                outline: 1px solid $fontColor;
            }
        }
        .taskDescript {
            resize: none;
            height: 50%;

        }
        .dateLabel {
            display: flex;
            gap: 10px;
            .taskDue {
                display: flex;
                padding: 0px 5px;
                border: none;
                background-color: $PrimaryColor;
            }
        }
        .priorDiv {
            display: flex;
            gap: 10px;
            position: relative;
            p {
                margin: 0;
                padding: 0;
            }
            .low, .medium, .high {
                display: flex;
                align-items: center;
                padding: 0px 10px;
                font-family: Poppins, sans-serif;
                border: 2px solid dodgerblue;
                color: $fontColor;
                font-weight: 700;
                font-size: .9rem;
                &:hover {
                    cursor: pointer;
                    background: $HeaderColor;
                    color: $PrimaryColor
                }
            }
            input[type=radio]{
                transform: scale(0);
                position: absolute;
            }
            .priorActive {
                color: $PrimaryColor;
                background: dodgerblue;
            }
        }
        .submitBtn {
            margin-top: 5px;
            text-align: center;
            border: none;
            font-family: Poppins, sans-serif;
            padding: 5px;
            font-weight: 700;
            background-color: dodgerblue;
            color: $PrimaryColor;
            &:hover {
                cursor: pointer;
                background-color: rgba(30, 144, 255, .8);
            }
        }
    }

    .show {
        display: flex;
    }
    
}


@media screen and (max-width: 800px) {
    .container {
        .header {
            padding: 0;
            .toggle-menu {
                display: flex;
            }
        }
        .sidebar {
            width: 50%;
            height: 100%;
            transition: .3s ease;
            display: none;
            position: absolute;
            right: -1000px;

        }
        .content {
            gap: 10px;
            width: 100vw;
            height: 100vh;
            padding: 20px;
            .TaskGrid {
                height: 100%;
            }
        }
        .modal{
            padding: 10px;
            .modalBox {
                .modalHeader {
                    .modalTitle {
                        font-size: 1.2rem;
                    }
                    .modalClose {
                        img {
                            width: 35px;
                        }
                    }
                }
                .modalSidebar {
                    .modalbtn {
                        font-size: 1.1rem;
                    }
                }
                .Form {
                    padding: 5px;
                }
            }
        }
    }
}